{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% comment %} block for title {% endcomment %}
    <title>{% block page_title%}<h1>My challenges</h1>{% endblock%}</title>

    {% comment %} loading css {% endcomment %}
    <link rel="stylesheet" href="{% static "styles.css" %}">

    {% comment %} block for css {% endcomment %}
    {% block css_files %} {% endblock%}
</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>